/* Sidebar menu */
#sidebarMenu {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#sidebarMenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#sidebarMenu a:hover {
    color: #f1f1f1;
}

#mainContainer,
#dashboardContainer,
#personalItemsContainer,
#vehicleMaintenanceContainer {
    margin-left: 250px;
    transition: margin-left 0.5s;
    padding: 20px;
    background-color: #000;
    min-height: 100vh;
}

@media screen and (max-width: 767px) {
    #sidebarMenu {
        width: 0;
        padding-top: 15px;
    }

    #sidebarMenu a {
        font-size: 18px;
    }

    #mainContainer,
    #dashboardContainer,
    #personalItemsContainer,
    #vehicleMaintenanceContainer {
        margin-left: 0;
        padding: 10px;
    }
}

body {
    font-family: "Lato", sans-serif;
    transition: background-color 0.5s;
    background-color: #000;
    color: #fff;
}

.main {
    padding: 16px;
    transition: margin-left 0.5s;
}

.header {
    margin-bottom: 20px;
}

.header h1 {
    font-size: 36px;
    margin: 0;
}

.header p {
    font-size: 18px;
    margin: 0;
}

.flight-hours {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    max-width: 600px;
}

.flight-hours .left {
    flex: 1;
}

.flight-hours .right {
    display: flex;
    align-items: center;
}

.flight-hours h2 {
    margin: 0 10px 0 0;
    font-size: 24px;
}

.update-form {
    display: flex;
    align-items: center;
}

.update-form input {
    width: 80px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 28px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 40px;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.reminder {
    background-color: #333;
    color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    max-width: 600px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    cursor: pointer;
}

.reminder-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.item {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.due-label,
.value {
    display: block;
    margin-bottom: 8px;
}

.due-container {
    text-align: right;
}

.update-link {
    display: block;
    margin-top: 8px;
}

.reminder-content {
    margin-top: 10px;
}

.progress-bar {
    background-color: #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
    height: 20px;
}

.progress {
    height: 100%;
    text-align: center;
    line-height: 20px;
    color: white;
    transition: width 0.3s;
}

.squawks-container {
    margin-top: 20px;
    position: relative;
}

.squawks-container h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.add-squawk-icon {
    cursor: pointer;
    color: #007bff;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}

#squawkInputContainer {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

#newSquawk {
    flex-grow: 1;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#squawkInputContainer button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
}

#squawkInputContainer button:hover {
    background-color: #0056b3;
}

.squawk-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.squawk-item input {
    margin-right: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #333;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
    animation: fadeIn 0.3s ease;
    color: #fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    flex: 1;
    min-width: 150px;
}

.form-group input {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #000;
}

.form-group input[type="date"],
.form-group input[type="number"] {
    width: 30px;
}

@media screen and (max-width: 767px) {
    .reminder {
        font-size: 14px;
        max-width: 100%;
    }

    .item {
        font-size: 16px;
    }

    .maintenance-label,
    .maintenance-value {
        font-size: 14px;
    }

    .progress-bar {
        height: 15px;
    }

    .progress {
        line-height: 15px;
    }
}










/* Vehicle Maintenance Styles */
.vehicle-header {
    background-color: #555; /* Adjusted for better contrast */
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    max-width: 600px; /* Match the width of items */
    width: calc(100% - 20px);
    box-sizing: border-box;
}

.vehicle-item {
    background-color: #333;
    color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    max-width: 600px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column; /* Align elements vertically */
}

.vehicle-item:hover {
    background-color: #444;
}

.vehicle-reminder-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.item {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.maintenance-container {
    display: flex;
    justify-content: flex-end; /* Align to the right */
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.label,
.value {
    display: block;
    margin-bottom: 8px;
    text-align: right; /* Align text to the right */
}

.vehicle-progress-bar {
    background-color: #ccc;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    width: 100%;
    margin-top: 10px;
}

.vehicle-progress {
    height: 100%;
    line-height: 20px;
    color: white;
    text-align: center;
    transition: width 0.3s;
    white-space: nowrap;
}

/* Additional styles for responsive design */
@media screen and (max-width: 767px) {
    .vehicle-reminder {
        font-size: 14px;
        max-width: 100%;
    }

    .vehicle-item {
        font-size: 16px;
    }

    .vehicle-details {
        font-size: 12px;
    }

    .vehicle-progress-bar {
        height: 12px;
    }

    .vehicle-progress {
        line-height: 12px;
    }
}
